<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Megumin bot</title>
  </head>
  <body>
    <nav>
      <div class="hamburger-menu">
        <input type="checkbox" id="menu-toggle" class="menu-toggle" />
        <label for="menu-toggle" class="menu-toggle-label">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </label>
        <ul class="menu">
          <li><a href="#Features">Features</a></li>
          <li><a href="#Common-commands">Common commands</a></li>
          <li><a href="#Other-commands">Other Commands</a></li>
          <li><a href="#Future-features-and-changes">Future Features</a></li>
        </ul>
      </div>
      <div>
        <a href="#hero">Megumin</a>
      </div>
      <ul>
        <li><a href="#Features">Features</a></li>
        <li><a href="#Common-commands">Common commands</a></li>
        <li><a href="#Other-commands">Other Commands</a></li>
        <li><a href="#Future-features-and-changes">Future Features</a></li>
      </ul>
    </nav>
    <header id="hero">
      <h1>
        Waga na wa Megumin! Ākuwizādo wo nariwai toshi, saikyou no kougeki no
        mahou "bakuretsu mahou" wo ayatsuru mono!
      </h1>
      <img class="hero" src="megumin-hero-op2.png" alt="megumin logo" />
    </header>
    <main class="flex-container">
      <article id="Features">
        <h2>Features</h2>
        <ul>
          <li>Youtube search and playing by given text (song/playlist)</li>
          <li>Youtube search and playing by given link</li>
          <li>Spotify playing by given link (song/playlist)</li>
          <li>SoundCloud playing by given link (song/playlist)</li>
        </ul>
      </article>
      <article>
        <h2>Commands</h2>
        <section id="Common-commands">
          <h3>Common commands</h3>
          <code>
            <pre>
<span><span>?</span></span>play or <span>?</span>p 
<span><span>?</span></span>skip or <span>?</span>skp 
<span>?</span>stop or <span>?</span>stp 
<span>?</span>pause or <span>?</span>pse 
<span>?</span>help or <span>?</span>h 
<span>?</span>leave or <span>?</span>lve </pre>
          </code>
        </section>
        <section id="Other-commands">
          <h3>Other commands</h3>
          <code>
            <pre>
<span>?</span>autoplay or <span>?</span>ap 
<span>?</span>filters or <span>?</span>fter
<span>?</span>forward or <span>?</span>frd 
<span>?</span>join or <span>?</span>jn 
<span>?</span>nowplaying or <span>?</span>np 
<span>?</span>playskip or <span>?</span>ps 
<span>?</span>playstop or <span>?</span>pt 
<span>?</span>previous or <span>?</span>pus 
<span>?</span>queue or <span>?</span>q 
<span>?</span>repeat or <span>?</span>rp 
<span>?</span>resume or <span>?</span>rme 
<span>?</span>rewind or <span>?</span>rnd 
<span>?</span>seek or <span>?</span>sk 
<span>?</span>shuffle or <span>?</span>sfle 
<span>?</span>volume or <span>?</span>v </pre>
          </code>
        </section>
      </article>
      <section id="Future-features-and-changes">
        <h2>Future features and changes</h2>
        <ul>
          <li>Autocomplete</li>
          <li>Animations</li>
          <li>Button actions</li>
          <li>Visual overhaul</li>
        </ul>
      </section>
    </main>
    <footer>
      <hr />
      <p>© Copyright Cristhofer Pincetti 2023</p>
    </footer>
  </body>
</html>
