<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Megumin bot</title>
  </head>
  <body>
    <nav>
      <div>
        <img src="explosion.png" alt="explosion logo" />
        <a href="#hero">Megumin</a>
      </div>
      <ul>
        <li><a href="#Features">Features</a></li>
        <li><a href="#Common-commands">Common commands</a></li>
        <li><a href="#Other-commands">Other Commands</a></li>
        <li><a href="#Future-features-and-changes">Future Features</a></li>
      </ul>
    </nav>
    <header id="hero">
      <h1>
        Waga na wa Megumin! Ākuwizādo wo nariwai toshi, saikyou no kougeki no
        mahou "bakuretsu mahou" wo ayatsuru mono!
      </h1>
      <img class="hero" src="megumin-hero-op2.png" alt="megumin logo" />
    </header>
    <main class="flex-container">
      <article id="features">
        <h2>Features</h2>
        <ul>
          <li>Youtube search and playing by given text (song/playlist)</li>
          <li>Youtube search and playing by given link</li>
          <li>Spotify playing by given link (song/playlist)</li>
          <li>SoundCloud playing by given link (song/playlist)</li>
        </ul>
      </article>
      <article>
        <h2>Commands</h2>
        <section id="Common-commands">
          <h3>Common commands</h3>
          <code>
            <pre>
?play or ?p 
?skip or ?skp 
?stop or ?stp 
?pause or ?pse 
?help or ?h 
?leave or ?lve </pre
            >
          </code>
        </section>
        <section id="Other-commands">
          <h3>Other commands</h3>
          <code>
            <pre>
?autoplay or ?ap 
?filters or ?fter
?forward or ?frd 
?join or ?jn 
?nowplaying or ?np 
?playskip or ?ps 
?playstop or ?pt 
?previous or ?pus 
?queue or ?q 
?repeat or ?rp 
?resume or ?rme 
?rewind or ?rnd 
?seek or ?sk 
?shuffle or ?sfle 
?volume or ?v </pre
            >
          </code>
        </section>
      </article>
      <section id="Future-features-and-changes">
        <h2>Future features and changes</h2>
        <ul>
          <li>Autocomplete</li>
          <li>Animations</li>
          <li>Button actions</li>
          <li>Visual overhaul</li>
        </ul>
      </section>
    </main>
    <footer>
      <hr />
      <p>© Copyright Cristhofer Pincetti 2023</p>
    </footer>
  </body>
</html>
